{
	"presets": [["@babel/preset-env", { "modules": "commonjs" }], ["@babel/preset-react", { "runtime": "automatic" }], "@babel/preset-typescript"],
	"plugins": [
		"add-module-exports",
		[
			"@babel/plugin-transform-modules-commonjs",
			{
				"allowTopLevelThis": true
			}
		]
	],
	"env": {
		"development": {
			"plugins": ["react-hot-loader/babel"]
		}
	}
}
